.filters-group-container {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 35%;
    max-width: 350px;
    min-width: 240px;
    margin-top: 25px;
    flex-shrink: 0;
  }
}
.search-input-container {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #7e858e;
  margin-bottom: 20px;
  margin-top: 0px;
}

.search-input {
  background-color: transparent;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 6px 16px;
}
.search-button-container {
  background-color: #475569;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
}

.search-icon {
  color: #ffffff;
  width: 15px;
  height: 15px;
}
@media screen and (min-width: 768px) {
  .search-input-container {
    display: none;
  }
}
.separator {
  border-color: #7e858e;
  width: 100%;
  border-width: 2px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.filters-container {
  display: flex;
  flex-direction: column;
}
.filters-heading {
  color: #ffffff;
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 20px;
  margin: 0px;
  margin-bottom: 20px;
}
.filters-list-container {
  list-style-type: none; 
}
.filter-item {
  display: flex;
  align-items: center;
  padding: 0px;
  margin-bottom: 15px;
}

.check-label {
  color: #ffffff;
  margin-left: 6px;
  font-size: 18px;
}
