.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 50px 20px 50px 20px;
}

@media screen and (min-width: 768px) {
  .home-container {
    align-items: flex-start;
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .home-content {
    align-items: flex-start;
    padding: 30px 0px 0px 30px;
  }
}

.home-heading {
  font-family: 'Roboto';
  font-weight: bold;
  margin-top: 0px;
  font-size: 36px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 46px;
    text-align: left;
  }
}

.home-description {
  font-family: 'Roboto';
  margin-top: 16px;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 0;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .home-description {
    font-size: 20px;
    margin-top: 36px;
  }
}

.find-jobs-button {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto';
  color: white;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
  background-color: #4f46e5;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  width: 100px;
}

@media screen and (min-width: 768px) {
  .find-jobs-button {
    width: 150px;
    font-size: 16px;
  }
}
