.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  height: 200px;
  border-radius: 20px;
  background-size: cover;
  padding: 20px;  
}
.profile-img {
  width: 60px;
}
.profile-heading {
  color: #6366f1;
  font-size: 20px;
  font-family: 'Roboto';
}
.profile-bio {
  color: #7e858e;
  font-size: 16px;
  font-family: 'Roboto';
}

.profile-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.profile-error-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.profile-failure-button {
  padding: 10px 35px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4f46e5;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
}
